@font-face {
    font-family: myFirstFont;
    src: url(tfFont.ttf);
}
.thomasText{
    font-family: myFirstFont;
}
body {
    background-image: url(../Images/thomas.jpg);
    background-size: cover;
}

.headers {
    background-color: rgba(225, 0, 0, 0.5);
    color: white;
}

.bodies {
    background-color: rgba(0, 0, 0 0.5);
}

#bottomIcons {
    width: 182px;
}

.see-through {
    background-color: rgba(0, 0, 0, 0.5);
}

label {
    color: white;
}

th {
    color: white;
    /* font-family: myFirstFont; */
}

td {
    color: white;
}

hr {
    color: white;
}